main.py: O arquivo principal. Ele orquestra todo o processo, chamando as funções dos outros arquivos na ordem correta.

scraper.py: Contém a lógica pura do web scraping. Suas funções são responsáveis por fazer requisições, analisar o HTML e extrair os dados.

database.py: Fica responsável por toda a interação com o banco de dados. Suas funções criam a tabela e inserem os dados.

data/: Uma pasta para armazenar o arquivo do banco de dados (produtos.db). Isso mantém o projeto organizado.

requirements.txt: Lista as bibliotecas externas que o projeto precisa para funcionar, como requests e beautifulsoup4.

